<section class="card changepassword">
    <form name="myform"
          ng-submit="changepassword()"
          novalidate>

        <div class="textintro">
            <h1>CHANGE PASSWORD</h1>
            
            <p class="message"
               ng-show="message"> {{ message }}</p>
        </div>

        <fieldset>

            <!--current password-->
            <label for="currentpassword">Current Password: </label>
            <input type="password" name="currentpassword" id="currentpassword"
                   ng-model="user.currentpassword" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.currentpassword.$invalid && myform.currentpassword.$touched">
                Current Password is required
            </p>

            <!--new password-->
            <label for="newpassword">New Password: </label>
            <input type="password" name="newpassword" id="newpassword"
                   ng-model="user.newpassword" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.newpassword.$invalid && myform.newpassword.$touched">
                New Password is required
            </p>

            <!--confirm new password-->
            <label for="confirmnewpassword">Confirm New Password: </label>
            <input type="password" name="confirmnewpassword" id="confirmnewpassword"
                   ng-model="user.confirmnewpassword" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.confirmnewpassword.$invalid && myform.confirmnewpassword.$touched">
                Confirm New Password is required
            </p>

        </fieldset>

        <button type="submit" class="btn"
                ng-disabled="myform.$invalid">
            Change Password
        </button>
        
        <!--<p>or <a ng-href="#/register">register</a></p> old way-->
    </form>
</section>