<section class="card changepassword">
    <form name="myform"
          ng-submit="changepassword()"
          novalidate>

        <div class="textintro">
            <h1>CHANGE PASSWORD</h1>
            
            <p class="message"
               ng-show="message"> {{ message }}</p>
        </div>

        <fieldset>

            <!--current password-->
            <input type="password" name="currentpassword" placeholder="Current Password"
                   ng-model="user.currentpassword" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.currentpassword.$invalid && myform.email.$touched">
                Password is required
            </p>

            <!--new password-->
            <input type="password" name="newpassword" placeholder="New Password"
                   ng-model="user.newpassword" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.newpassword.$invalid && myform.email.$touched">
                Password is required
            </p>

            <!--confirm new password-->
            <input type="password" name="confirmnewpassword" placeholder="Confirm New Password"
                   ng-model="user.confirmnewpassword" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.confirmnewpassword.$invalid && myform.email.$touched">
                Password is required
            </p>

        </fieldset>

        <button type="submit" class="btn"
                ng-disabled="myform.$invalid">
            Change Password
        </button>
        
        <!--<p>or <a ng-href="#/register">register</a></p> old way-->
    </form>
</section>