<section class="card login">
    <form name="myform"
          ng-submit="login()"
          novalidate>

        <div class="textintro">
            <h1>Hi there!</h1>
            <p>Log-in to access the awesomeness!</p>
            <p class="message"
               ng-show="message"> {{ message }}</p>
        </div>

        <fieldset>
            <!-- TODO change from email to username -->
            <label for="username" class="text-info">Username </label>
            <input type="text" name="username" id="username"
                   ng-model="user.username" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.username.$invalid && myform.username.$touched">
                Username is required
            </p>

            <label for="password">Password </label>
            <input type="password" name="password" id="password"
                   ng-model="user.password" ng-required="true">
            <p class="error validationerror"
               ng-show="myform.password.$invalid && myform.password.$touched">
                Password is required
            </p>

        </fieldset>

        <button type="submit" class="btn"
                ng-disabled="myform.$invalid">
            Log in
        </button>
        <p>or <a ng-href="http://localhost:8080/#!/register">register</a></p>
        <p>or <a ng-href="http://localhost:8080/#!/changepassword">change password</a></p>
        <p>or <a ng-href="http://localhost:8080/#!/adduser">add user</a></p>
        <!--<p>or <a ng-href="#/register">register</a></p> old way-->
    </form>
</section>